

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #FFFFFF;
}

.navbar-custom {
    background-color: green;
    color: green;
}

#loadbalancer {
	margin-top: 10%;
	margin-left: 10%;
	margin-bottom: 20%;
}

.btn {
	margin-left: 20px;
}

footer {
	margin: 20px;
}