

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #D6F5FF;
}

.navbar-custom {
    background-color: green;
    color: green;
}


@-webkit-keyframes shake {
	0%   { property: value; }
	100% { property: value; }
}
@-moz-keyframes shake {
  	0%   { property: value; }
  	100% { property: value; }
}
@-o-keyframes shake {
  	0%   { property: value; }
  	100% { property: value; }
}
@keyframes shake {
 	0%   { property: value; }
  	100% { property: value; }
}


.shake-element {
  -webkit-animation: shake 5s infinite; /* Safari 4+ */
  -moz-animation:    shake 5s infinite; /* Fx 5+ */
  -o-animation:      shake 5s infinite; /* Opera 12+ */
  animation:         shake 5s infinite; /* IE 10+ */
}






